body {
  font-family: monospace;
}


#form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 450px;
}

#container {
  justify-content: center;
  display: none
}

#logo-container {
  margin-top: 6px;
}



.cardd {
  height: 120px;
  width: 120px;                 /* Set width of cards */
  border: 2px solid #A8A8A8;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 3px;
}

.card-image {
  display: flex;
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (+axis) */
  padding: 30px;
}

img {
  height: 3rem;
}

#gameInfo {
  margin-left: 45px;
}
